@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');
@font-face {
    font-family: Gotham-bold;
    src: url('../font/Gotham/Gotham-Bold.otf');
}

@font-face {
    font-family: Gotham;
    src: url('../font/Gotham/GothamBook.ttf');
}

@font-face {
    font-family: Gotham-italic;
    src: url('../font/Gotham/GothamBookItalic.ttf');
}



.bg-dark-linear {
    background-image: linear-gradient(to bottom, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #202020, #202020, #202020, #1a1a1a, #141414, #0b0b0b, #000000);
}

.heading {
    padding-top: 10px;
    padding-bottom: 20px;
}

.bg-dark-linear h4 {
    font-family: Montserrat, sans-serif;
    font-size: 15pt;
    color: #d6d6d6;
}

.bg-dark-linear h1 {
    font-family: Montserrat, sans-serif;

    color:white;
}

#logo {
    animation-name: zoom-animation;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
    
}

.bg-dark-linear p {
    font-family: Montserrat, sans-serif;
    line-height: 21pt;
    font-size: 12pt;
    color: #d6d6d6;
    letter-spacing: 0px;
    /* word-spacing: -2px; */
}

.bg-dark-linear .brand {
    font-family: Montserrat, sans-serif;
    color: #d6d6d6;
}
.img-responsive {
    max-width: 100%;
    height: auto;
    max-height: 90vh;
}

.bg-dark-linear ul {
    padding: 0;
    list-style:none;
}

.bg-dark-linear ul li a{
    text-decoration: none;

    font-family: Montserrat-italic, sans-serif;
    color:#d6d6d6;
}

.carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    border: 1px solid #464646;
    background-color: transparent;
    margin: 10px;
    margin-bottom: 0px;
}

.carousel-indicators .active {
    background-color: #464646;
}


.img-absolute {
    position: absolute;
    top: -12%;
    right: 77%;
}

.partner-logos img {
    max-width: 35% !important;
}

.mouse-scroll {
    z-index: 98;
    position: absolute;
    left: 47%;
    height: 100vh;
}

.mouse-scroll i {
    position: absolute;
    bottom: 13%;
}

.mouse-scroll .fas {
    color: #d6d6d6!important;
}

.mouse-scroll2 {
    z-index: 98;
    position: absolute;
    left: 47%;
    top: 6%;
}

.mouse-scroll2 .fas {
    color: #d6d6d6!important;
}

/* #myCarousel-mobile .carousel-inner {
    height: calc(100vh - 30px);
    
} */

.desktop-partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}




.down-arrow {
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

.bottle-absolute img {
    /* position: absolute;
    top: 0;
    right: 70%; */
    position: absolute;
    top: 32%;
    right: 22%;
    transform: scale(1.8);
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.my-delay-05s {
    animation-delay: 0.5s;
}

.my-delay-06s {
    animation-delay: 0.7s;
}

.my-delay-07s {
    animation-delay: 0.9s;
}

.my-delay-08s {
    animation-delay: 1.1s;
}
.my-delay-09s {
    animation-delay: 1.3s;
}
@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 1 }
    100% { -webkit-transform: translateY(1.1em); opacity: 1 }
}

@keyframes downarrow {
    0% {
        -webkit-transform: translateY(0); 
        transform: translateY(0); 
        opacity: 1 
    }
    100% {
        -webkit-transform: translateY(1.1em);
        transform: translateY(1.1em);
        opacity: 1;
        }
}

@keyframes zoom-animation {
    0%   {transform:scale(0.1);}
    100% {transform:scale(1);}
  }


@media screen and (min-width: 374px) {
    .bg-dark-linear h4 {
        font-size: 19pt;
    }

    .mouse-scroll2 {
        top: 6%;
    }

    .buy-wine {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .bg-dark-linear h4 {
        font-size: 30pt;
    }

    .bg-dark-linear p {
        line-height: 20pt;
        letter-spacing: 0.05em;
        word-spacing: 0px;
    }

    .partner-logos a {
        max-width: 31% !important;
        margin:10px 28px;
    }

    .partner-logos a img { 
        max-width: 55% !important;
    }

   
}