@font-face {
    font-family: Gotham-bold;
    src: url('../font/Gotham/Gotham-Bold.otf');
}

@font-face {
    font-family: Gotham;
    src: url('../font/Gotham/GothamBook.ttf');
}

@font-face {
    font-family: Gotham-italic;
    src: url('../font/Gotham/GothamBookItalic.ttf');
}



.bg-dark-linear {
    background-image: linear-gradient(to bottom, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #202020, #202020, #202020, #1a1a1a, #141414, #0b0b0b, #000000);
}

.heading {
    padding: 25px 0 30px;
}

.bg-dark-linear h4 {
    font-family: Gotham, sans-serif;
    font-size: 15pt;
    color: #d6d6d6;
}

.bg-dark-linear h1 {
    font-family: Gotham, sans-serif;

    color:white;
}


.bg-dark-linear p {
    font-family: Gotham, sans-serif;
    line-height: 21pt;
    font-size: 12pt;
    color: #d6d6d6;
    letter-spacing: 0px;
    
}

.bg-dark-linear .brand {
    font-family: Gotham, sans-serif;
    color: #d6d6d6;
}
.img-responsive {
    max-width: 100%;
    height: auto;
    max-height: 90vh;
}

.bg-dark-linear ul {
    padding: 0;
    list-style:none;
}

.bg-dark-linear ul li a{
    text-decoration: none;

    font-family: Gotham-italic, sans-serif;
    color:#d6d6d6;
}

.carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    border: 2px solid #d6d6d6;
    background-color: transparent;
    margin: 10px;
}

.carousel-indicators .active {
    background-color: #d6d6d6;
}


.img-absolute {
    position: absolute;
    top: -12%;
    right: 77%;
}

.partner-logos img {
    max-width: 30% !important;
}

.mouse-scroll {
    z-index: 98;
    position: absolute;
    left: 47%;
    top: 10%;
}

.mouse-scroll .fas {
    color: #d6d6d6!important;
}

.mouse-scroll2 {
    z-index: 98;
    position: absolute;
    left: 47%;
    top: 6%;
}

.mouse-scroll2 .fas {
    color: #d6d6d6!important;
}

/* #myCarousel-mobile .carousel-inner {
    height: calc(100vh - 30px);
    
} */


.down-arrow {
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}
@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 1 }
    100% { -webkit-transform: translateY(1.1em); opacity: 1 }
}

@media screen and (min-width: 374px) {
    .bg-dark-linear h4 {
        font-size: 19pt;
    }

    .mouse-scroll {
        top: 11%;
    }
    .mouse-scroll2 {
        top: 6%;
    }
}
@media screen and (min-width: 768px) {
    .bg-dark-linear h4 {
        font-size: 30pt;
    }

    .bg-dark-linear p {
        line-height: 24pt;
        letter-spacing: 0.05em;
    }

    .partner-logos img {
        max-width: 100% !important;
    }
}